body{
    font-size: 18px;
}
header{
    width: 100%;
    height: 60px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 50px;

}
h2{
color: white;
cursor: pointer;

}
.nav-btn{
    background-color:orange;
    border: none;
 color: white;
font-size: medium;
cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.nav-btn:hover{
    background-color: rgb(232, 172, 60);
}